
summary {
  margin: -1.2rem -1.2rem 0;
  padding: .8rem 1.2rem .8rem 4rem;
  border-bottom: .1rem solid rgba(68,138,255,.1);
  background-color: rgba(68,138,255,.1);
  font-weight: 700;
  margin-top: 0;
  padding-right: 4rem;
  display: block;
  outline: none;
  cursor: pointer;
  line-height: 1.6;
  /* custom style */
  font-size: 11pt;
}

summary:before, summary:after {
  font-family: Material Icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  speak: none;
  word-wrap: normal;
  direction: ltr;
}

summary:before {
  position: absolute;
  left: 1.2rem;
  color: #448aff;
  font-size: 2rem;
  content: "\E3C9";
}

summary:after {
  position: absolute;
  top: .8rem;
  right: 1.2rem;
  color: rgba(0,0,0,.26);
  font-size: 2rem;
  content: "\E313";
}

details {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  position: relative;
  margin: 1.5625em 0;
  padding: 1.2rem;
  border-left: .4rem solid #448aff;
  border-radius: .2rem;
  font-size: 1.28rem;
  padding-top: 0;
  margin: 1em 0;
  display: block;
  line-height: 1.6;
}

details :last-child {
  margin-bottom: 0;
}

details:not([open])>summary {
  border-bottom: none;
}

details:not([open]) {
  padding-bottom: 0;
}

summary::-webkit-details-marker {
  display: none
}